* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(221, 210, 210);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(236, 153, 167);
    color: #ffffff;
}

header h1 {
    font-size: 40px;
}

header img {
    border-radius: 45px;
}

header nav {
    width: 30%;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li {
    text-align: center;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration:underline;
}

.backgroundpic {
    height: 200px;
    margin-bottom: 15px;
    background-image: url("./programming-art.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }

/* .headshot { 
    height: 150px;
    width: 150%;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 50px;
    background-image: url("./headshot.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    position:relative;
    border-radius: 45px;
} */


main {
    width: 97%;
    display: inline-block;
    margin-left: 20px;

}

#aboutme, #work, #contactme {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: rgb(221, 210, 210);
    color: #ffffff;
    border: solid black;
}

.portfoliocontent {
    border-left: 3px solid #ffffff;
    margin: 10px;
    padding: 20px;
    /* text-align: right;  */
}

.work img {
    max-height: 200px;
}

#aboutme h2, .work h2, .contactme h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: rgb(236, 153, 167);
}

#aboutme p, .work p {
    font-size:20px;
    color: white;
    /* text-align: right;  */
}

.contactme div ul {
    font-size: 20px;
    color: white;
    list-style-type: none;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
}

.contactme div ul li {
    display:inline-block;
    text-decoration: underline;
    text-indent: 90px;
}
